<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/addroom</url-pattern>
        <url-pattern>/editroomtype</url-pattern>
        <url-pattern>/booking</url-pattern>
        <url-pattern>/addroomtype</url-pattern>
        <url-pattern>/Booking.jsp</url-pattern>
        <url-pattern>/manager.jsp</url-pattern>
        <url-pattern>/manageraccount.jsp</url-pattern>
        <url-pattern>/roomavai.jsp</url-pattern>
        <url-pattern>/room</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>SignupControl</servlet-name>
        <servlet-class>controller.SignupControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>controller.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>controller.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomControl</servlet-name>
        <servlet-class>controller.AddRoomControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomTypeControl</servlet-name>
        <servlet-class>controller.AddRoomTypeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomTypeControl</servlet-name>
        <servlet-class>controller.RoomTypeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDetailControl</servlet-name>
        <servlet-class>controller.RoomDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRoomControl</servlet-name>
        <servlet-class>controller.LoadRoomControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomTypeControl</servlet-name>
        <servlet-class>controller.EditRoomTypeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingControl</servlet-name>
        <servlet-class>controller.BookingControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadReservationControl</servlet-name>
        <servlet-class>controller.LoadReservationControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccountControl</servlet-name>
        <servlet-class>controller.LoadAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachByPriceControl</servlet-name>
        <servlet-class>controller.SeachByPriceControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>controller.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationDetailControl</servlet-name>
        <servlet-class>controller.ReservationDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationControl</servlet-name>
        <servlet-class>controller.InformationControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YourRoomControl</servlet-name>
        <servlet-class>controller.YourRoomControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationAdminControl</servlet-name>
        <servlet-class>controller.ReservationAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotControl</servlet-name>
        <servlet-class>controller.ForgotControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPasswordControl</servlet-name>
        <servlet-class>controller.NewPasswordControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookControl</servlet-name>
        <servlet-class>controller.BookControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupControl</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomControl</servlet-name>
        <url-pattern>/addroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomTypeControl</servlet-name>
        <url-pattern>/addroomtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomTypeControl</servlet-name>
        <url-pattern>/roomtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDetailControl</servlet-name>
        <url-pattern>/roomdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRoomControl</servlet-name>
        <url-pattern>/loadroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomTypeControl</servlet-name>
        <url-pattern>/editroomtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingControl</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadReservationControl</servlet-name>
        <url-pattern>/loadreservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccountControl</servlet-name>
        <url-pattern>/loadaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeachByPriceControl</servlet-name>
        <url-pattern>/searchbyprice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationDetailControl</servlet-name>
        <url-pattern>/resdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationControl</servlet-name>
        <url-pattern>/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YourRoomControl</servlet-name>
        <url-pattern>/yourroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationAdminControl</servlet-name>
        <url-pattern>/reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotControl</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPasswordControl</servlet-name>
        <url-pattern>/newPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookControl</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
